extends layout

block content
  div#main-id
    h1= clubName
    
    p Welcome to #{clubName}
    if !currentUser
      p Sign in first to join Club.
    else 
      .clubs-cont
      div Hello  #{currentUser.username}
      p Current password : whitecode
      form.club-form(action="", method="POST")
        label(for="password") Password
        input(type="password" name='password' required='true')
       
        button(type='submit') Join Club

