doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/")
      button Home 
    a(href="/users")
      button Profile
    a(href="/sign-up")
      button Sign-up 
    a(href="/log-in")
      button Log-in   

    block content
