doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if !currentUser
      p  Guest
    else 
      p  #{currentUser.username}
      
    div.dashboard
      a(href="/")
        button Home 
      a(href="/users")
        button Profile
      a(href="/clubs")
        button Clubs   
      a(href="/sign-up")
        button Sign-up 
      a(href="/log-in")
        button Sign-in 
      a(href="/message-form")
        button New message
      

    block content
