extends layout

block content
  div#main-id 
    h1=  title
    if !currentUser
      p Guest profile
    else
      div.profile-cont 
        div #[strong First name] :     #{currentUser.first_name}
        div #[strong Last name] : #{currentUser.last_name}
        div #[strong Username] : #{currentUser.username}
        div #[strong Club] : #{currentUser.membership_status}
        if currentUser.admin 
          div admin
    
