extends layout

block content
  .main 
    h1=  title
    if !currentUser
      p Guest profile
    else
      div.profile-cont 
        div First name : #{currentUser.first_name}
        div Last name : #{currentUser.last_name}
        div Username : #{currentUser.username}
        div Club : #{currentUser.membership_status}
    
